main {
  margin: auto;
  text-align: center;
  padding: 50px;
  /* height: 50%; */
  width: 50%;
  background-image: url(../picture/Arriere_plan2.jpeg);
  background-size: cover;
}

main h2 {
  margin: 10px;
}
span {
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: #333;
}
.valeur {
  padding-right: 10px;
}
